<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gif slideshow!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.3.3.6.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>

        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('js/react-0.14.3/build/react.js') }}"></script>
        <script src="{{ asset('js/react-0.14.3/build/react-dom.js') }}"></script>
        <script src="{{ asset('js/babel-browser-5.8.23.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.3.3.6.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
