{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slideshow list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Queries</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slideshow in slideshows %}
            <tr>
                <td><a href="{{ path('slideshow_show', { 'id': slideshow.id }) }}">{{ slideshow.id }}</a></td>
                <td>{{ slideshow.name }}</td>
                <td>{{ slideshow.queries|join(", ") }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('slideshow_show', { 'id': slideshow.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('slideshow_edit', { 'id': slideshow.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slideshow_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
