{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add {{ type }} provider to "{{ slideshow.name }}"</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit" value="Create">Create</button>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('slideshow_edit', {'id':slideshow.id}) }}">Back to slideshow</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'initcollection.html.twig' %}
{% endblock %}